# Python safety
# Python junk
__pycache__/
*.pyc

# Environments
venv/
.venv/
env/

# Editor settings
.vscode/
.idea/

# Mac junk
.DS_Store

# Local Secrets (Never upload this!)
.env

# Temporary files
*.zip

.streamlit/secrets.toml
venv/
__pycache__/
*.pyc